html {
  height: 100%;
}
body {
  background: linear-gradient(45deg, #343d88, #baa0d4,#80bdc7 );
  /* background: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover; */
}

.slider-title {
  text-align: center;
  padding: 30px 0;
  color: rgb(40, 40, 40);
  opacity: 0.7;
}
.carousel {
  height: 600px;
}
.carousel-inner,
.carousel-item {
  height: 600px;
  border-radius: 30px;
}

.carousel-caption h5 {
  font-size: 2rem;
  font-weight: 500;
  background: rgb(0, 0, 0);
  border-radius: 30px;
  padding: 0.2rem;
  opacity: 0.5;
}
.carousel-caption h5 a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}
.carousel-caption h5 a:hover {
  text-decoration: underline;
}

.p {
  color: black;
}